[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
psycopg2-binary = "*"
selenium = "*"
django-webpack-loader = "==0.7.0"
django-extensions = "*"
django-bundles = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-tables2 = "*"
django-filter = "*"
django-widget-tweaks = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
